<ul>
    <li style="font-size: 0.75rem">$font-size-sm: 0.75rem </li>
    <li style="font-size: 0.85rem">$font-size-sm-2: 0.85rem </li>
    <li style="font-size: 1rem">$font-size-med: 1rem </li>
    <li style="font-size: 1.2rem">$font-size-med-2: 1.2rem </li>
    <li style="font-size: 2rem">$font-size-large: 2rem </li>
    <li style="font-size: 3rem">$font-size-xl: 3rem </li>
    <li style="font-size: 4rem">$font-size-xxl: 4rem </li>
</ul>
<small>To add to these items, use Sass variables that start with <code>$font-size-</code> in <code>./source/css/scss/abstracts/_variables.scss</code></small>