<form method="" action="#" class="c-form  js-form" >

	<div class="c-form__body">

						<div class="c-field ">
						
							<label for="" class="c-field__label">Name</label>
						
						    <div class="c-field__body">
						
						        <input type="" id="" class="c-input" placeholder="" value=""    />
								
						    </div><!-- end c-field__body -->
						
						
						</div><!-- end c-field -->
						<div class="c-field ">
						
							<label for="" class="c-field__label">Select</label>
						
						    <div class="c-field__body">
						
						        <select class="c-select " id="" placeholder=""  >
						            <option value="option-1">Option 1</option>
						            <option value="option-2">Option 2</option>
						        
						        
						        </select>
						
						    </div><!-- end c-field__body -->
						
						
						</div><!-- end c-field -->
						<div class="c-field c-field--checkbox ">
						
							<h4 for="" class="c-field__label">Checkbox Field</h4>
						
						    <div class="c-field__body">
						
						        <ul class="c-option-list">
						
						            <li class="c-option-list__item">
						
						                <label class="c-input-group" for="check-1">
						                    <input id="check-1" type="checkbox" name="checkname" value="" class="c-input-group__control js-checkbox-trigger" checked  >
						                    <span class="c-input-group__text">Option 1</span>
						                </label>
						
						            </li><!-- end c-checkbox-list__item -->
						            <li class="c-option-list__item">
						
						                <label class="c-input-group" for="check-2">
						                    <input id="check-2" type="checkbox" name="checkname" value="" class="c-input-group__control js-checkbox-trigger"   >
						                    <span class="c-input-group__text">Option 2</span>
						                </label>
						
						            </li><!-- end c-checkbox-list__item -->
						
						        </ul><!-- end c-option-list -->
						
						    </div><!-- end c-field__body -->
						
						
						</div><!--end c-field-->
						<div class="c-field ">
						
							<label for="" class="c-field__label">Textarea Field</label>
						
						    <div class="c-field__body">
						
						        <textarea class="c-textarea" id="" placeholder="" value="" rows="5"  ></textarea>
						
						    </div><!-- end c-field__body -->
						
						
						</div><!-- end c-field -->
						<div class="c-field ">
						
							<h4 for="" class="c-field__label">Radios</h4>
						
						    <div class="c-field__body">
						
						        <ul class="c-option-list ">
						
						            <li class="c-option-list__item js-radio-trigger-parent">
						
						                <label class="c-input-group" for="radio-1">
						                    <input id="radio-1" type="radio" name="radioname" value="" class="c-input-group__control js-radio-trigger" checked  >
						                    <span class="c-input-group__text">Option 1</span>
						                </label>
						
						            </li><!-- end c-radio-list__item -->
						            <li class="c-option-list__item js-radio-trigger-parent">
						
						                <label class="c-input-group" for="radio-2">
						                    <input id="radio-2" type="radio" name="radioname" value="" class="c-input-group__control js-radio-trigger"   >
						                    <span class="c-input-group__text">Option 2</span>
						                </label>
						
						            </li><!-- end c-radio-list__item -->
						
						        </ul><!-- end c-option-list -->
						
						    </div><!-- end c-field__body -->
						
						
						</div><!-- end c-field -->

	</div><!--end c-form__body-->

	<div class="c-form__footer">
		<div class="c-btn-group ">
		
		    <button class="c-btn " >
		    
		        <div class="c-btn__inner">
		    
		    
		            Button 111
		    
		        </div><!--end c-btn__inner-->
		    
		    </button><!-- end c-btn -->
		    <button class="c-btn c-btn--bare" >
		    
		        <div class="c-btn__inner">
		    
		    
		            Button
		    
		        </div><!--end c-btn__inner-->
		    
		    </button><!-- end c-btn -->
		
		</div><!--end c-btn-group-->
		
		<div>
		    <button>Smruti</button>
		</div>
	</div><!--end c-form__footer-->

</form><!--end c-form-->
