<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/04-pages-00-homepage\04-pages-00-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-03-cart/04-pages-03-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../icons.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">
	<div class="l-container">
		<div class="c-page-header ">
		
		    <h1 class="c-page-header__title">Suede Booties</h1>
		
		
		</div><!-- end c-page-header -->
	</div>

	<div class="l-container">
		<div class="l-page-layout l-page-layout--two-column u-margin-bottom-large">

			<div class="l-page-layout__main">
				<img src="../../images/women-boot-wedges.jpg" alt="Boot wedges" />
			</div><!--end .l-main-->

			<div class="l-page-layout__secondary">
				<div class="l-linelength-container">
					<div class="c-text-passage">
					
						<p>These suede booties are the perfect shoes to accent your outfit whether heading to a casual dinner or an elaborate gala.</p><p>These booties come in a sepia (shown) or a stark black. These are made of 100% suede in U.S.A.</p><h2>$120</h2>
					
					</div><!--end c-text-passage-->
				</div>
				<form method="" action="" class="c-form  js-form" >
				
					<div class="c-form__body">
				
										<div class="c-field ">
										
											<label for="" class="c-field__label">Pick a Size</label>
										
										    <div class="c-field__body">
										
										        <select class="c-select " id="" placeholder=""  >
										            <option value="size-1">Size 5</option>
										            <option value="size-2">Size 5.5</option>
										            <option value="size-3">Size 6</option>
										            <option value="size-4">Size 6.5</option>
										            <option value="size-5">Size 7</option>
										            <option value="size-6">Size 7.5</option>
										            <option value="size-7">Size 8</option>
										            <option value="size-8">Size 8.5</option>
										            <option value="size-9">Size 9</option>
										            <option value="size-10">Size 9.5</option>
										            <option value="size-11">Size 10</option>
										            <option value="size-12">Size 10.5</option>
										            <option value="size-13">Size 11</option>
										        
										        
										        </select>
										
										    </div><!-- end c-field__body -->
										
										
										</div><!-- end c-field -->
				
					</div><!--end c-form__body-->
				
					<div class="c-form__footer">
						<div class="c-btn-group ">
						
						    <a href="/patterns/04-pages-03-cart/04-pages-03-cart.rendered.html" class="c-btn " >
						    
						        <div class="c-btn__inner">
						    
						    
						            Add To Cart
						    
						        </div><!--end c-btn__inner-->
						    
						    </a><!-- end c-btn -->
						
						</div><!--end c-btn-group-->
						
						<div>
						    <button>Smruti</button>
						</div>
					</div><!--end c-form__footer-->
				
				</form><!--end c-form-->
			</div><!--end .l-sidebar-->

		</div><!--end l--two-col-->
		<section class="c-section">
		    <header class="c-section__header">
		        <h2 class="c-section__title">Related Items</h2>
		    </header>
		
		    <ul class="c-stacked-block-list l-grid l-grid--3up ">
		    	<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
		    
		    	<div class="c-stacked-block__header">
		    		<div class="c-stacked-block__media">
		    			<img src="../../images/men-blue-shoes.jpg" alt="blue walking shoes" class="c-stacked-block__img" />		</div>
		    	</div>
		    
		    	<div class="c-stacked-block__body">
		    		<h2 class="c-stacked-block__title">Walking Shoes</h2>
		    		<p class="c-stacked-block__excerpt">This casual pair of shoes will have you looking dapper in the city</p>
		    	</div><!-- end c-stacked-block__body -->
		    
		    	<div class="c-stacked-block__footer">
		    		<span class="c-stacked-block__meta">$60</span>
		    	</div>
		    </a><!-- end c-stacked-block --></li>
		    	<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
		    
		    	<div class="c-stacked-block__header">
		    		<div class="c-stacked-block__media">
		    			<img src="../../images/women-hiking-boots.jpg" alt="leather boots" class="c-stacked-block__img" />		</div>
		    	</div>
		    
		    	<div class="c-stacked-block__body">
		    		<h2 class="c-stacked-block__title">Leather Boots</h2>
		    		<p class="c-stacked-block__excerpt">Hike down the trail in these durable, 100% authentic leather boots.</p>
		    	</div><!-- end c-stacked-block__body -->
		    
		    	<div class="c-stacked-block__footer">
		    		<span class="c-stacked-block__meta">$120</span>
		    	</div>
		    </a><!-- end c-stacked-block --></li>
		    	<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
		    
		    	<div class="c-stacked-block__header">
		    		<div class="c-stacked-block__media">
		    			<img src="../../images/women-blue-heels.jpg" alt="blue heels" class="c-stacked-block__img" />		</div>
		    	</div>
		    
		    	<div class="c-stacked-block__body">
		    		<h2 class="c-stacked-block__title">Blue Suede Heels</h2>
		    		<p class="c-stacked-block__excerpt">Strut your stuff on the streets with these stunning high heels</p>
		    	</div><!-- end c-stacked-block__body -->
		    
		    	<div class="c-stacked-block__footer">
		    		<span class="c-stacked-block__meta">$80</span>
		    	</div>
		    </a><!-- end c-stacked-block --></li>
		    </ul>
		
		</section><!--end section-->
	</div><!--end l-container-->

</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
