<div class="c-btn-group ">

    <button class="c-btn " >
    
        <div class="c-btn__inner">
    
    
            Button 111
    
        </div><!--end c-btn__inner-->
    
    </button><!-- end c-btn -->
    <button class="c-btn c-btn--bare" >
    
        <div class="c-btn__inner">
    
    
            Button
    
        </div><!--end c-btn__inner-->
    
    </button><!-- end c-btn -->

</div><!--end c-btn-group-->

<div>
    <button>Smruti</button>
</div>
